# Salesforce org to run E2E tests against
SF_BASE_URL=https://your-org.lightning.force.com
SF_ORG_ALIAS=your-org-alias

# Static test users created by scripts/create-e2e-users.sh
SF_EDITOR_USERNAME=bcm-editor-test@home-denispoc.e2e
SF_EDITOR_PASSWORD=Bcm@E2Etest1

SF_VIEWER_USERNAME=bcm-viewer-test@home-denispoc.e2e
SF_VIEWER_PASSWORD=Bcm@E2Etest1
